<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NganHang.Properties.Settings.NGANHANGConnectionString"
            connectionString="Data Source=DESKTOP-O4NU276\SERVER1;Initial Catalog=NGANHANG;User ID=sa"
            providerName="System.Data.SqlClient" />
      <add name="NganHang.Properties.Settings.NGANHANGConnectionString1"
            connectionString="Data Source=DESKTOP-O4NU276\SERVER1;Initial Catalog=NGANHANG;User ID=TA; password = 123"
            providerName="System.Data.SqlClient" />
      <add name="NganHang.Properties.Settings.NGANHANGConnectionString3"
      connectionString="Data Source=DESKTOP-O4NU276;Initial Catalog=NGANHANG;User ID=sa; password = 123"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>